########################################
# RUTAS COMUNES
########################################
COMMON_PATH=/ruta/host/para/descargas/y/configs

########################################
# GLUETUN / WIREGUARD
########################################
ENDPOINT_IP=1.2.3.4
WIREGUARD_ADDR=10.66.66.2/24
ENDPOINT_PORT=51820
DNS_ADDRESS=1.1.1.1
PUBLIC_KEY=TU_CLAVE_PUBLICA
PRIVATE_KEY=TU_CLAVE_PRIVADA

########################################
# TIMEZONE
########################################
TZ=America/Chicago

########################################
# LOG LEVEL
########################################
LOG_LEVEL=info
CAPTCHA_SOLVER=none

########################################
# NGINX PROXY MANAGER (Postgres)
########################################
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=npm
POSTGRES_PASSWORD=npmpass
POSTGRES_DB=npm

########################################
# PI-HOLE
########################################
# Descomenta si quieres contraseña de Pi-hole:
# PIHOLE_WEBPASSWORD=ContraseñaSegura
